
<div class="x_content">
    <form class="form-horizontal form-label-left" [formGroup]="tempForm" (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    Calculator:
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">


                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Temperature</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" id="inputFirstString" class="form-control input-sm"
                                formControlName="temperature" placeholder="Temperature">
                            <div *ngIf="f.submitted &&  tempForm.get('temperature').invalid && showError"
                                class="form-row text-danger">
                                Please Enter a Number
                            </div>

                        </div>
                    </div>



                </div>
            </div>
        </div>

        <div class="panel-footer-div">
            <button type="submit" class="btn btn-primary pull-right">
                Calculate
            </button>

        </div>

    </form>
</div>